[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nvflare-nightly = {editable = true, ref = "dev", git = "https://git@github.com/NVIDIA/NVFlare.git"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
provision = "nvflare provision -p project.yml"
